<!DOCTYPE html>
<html xmlns="http:www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person Registration</title>
</head>
<body>
	<form action="saveperson" method="post">
	<label>Name</label>
		<input name="name"> 
		<label>Last Name</label>
		<input name="lastname">
		<label>Age</label>
		<input name="age">
		<!-- <label>Student ID</label>
		<input name="studentid"> -->
		 <input
			type="submit" value="Save">

	</form>
	<a href="/personlist">List of Persons</a>
	
	<table>
	<tr th:each = "person : ${persons}">
		<td th:text = "${person.id}"></td>
		<td th:text = "${person.name}"></td>
		<td th:text = "${person.lastname}"></td>
	</tr>
	</table>
</body>
</html>