<!DOCTYPE html>
<html xmlns="http:www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person Registration</title>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
	<form action="saveperson" method="post">
	<label>Name</label>
		<input name="name"> 
		<label>Last Name</label>
		<input name="lastname">
		<label>Age</label>
		<input name="age">
		<input class="waves-effect waves-light btn" type="submit" value="Save">

	</form>
	<a href="/personlist">List of Persons</a>
	
	<table>
	<tr th:each = "person : ${persons}">
		<td th:text = "${person.id}"></td>
		<td th:text = "${person.name}"></td>
		<td th:text = "${person.lastname}"></td>
	</tr>
	</table>
	
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>